BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "SCI_RX" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LED_8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "PWM_Test_Out" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCI_TX" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LED_1" SITE "H11" ;
LOCATE COMP "LED_2" SITE "J13" ;
LOCATE COMP "LED_3" SITE "J11" ;
LOCATE COMP "LED_4" SITE "L12" ;
LOCATE COMP "LED_5" SITE "K11" ;
LOCATE COMP "LED_6" SITE "L13" ;
LOCATE COMP "LED_7" SITE "N15" ;
LOCATE COMP "LED_8" SITE "P16" ;
LOCATE COMP "PWM_Test_Out" SITE "N14" ;
LOCATE COMP "SCI_RX" SITE "A11" ;
LOCATE COMP "SCI_TX" SITE "C11" ;
LOCATE COMP "ADC_SCLK" SITE "E6" ;
LOCATE COMP "ADC_CSn" SITE "C4" ;
LOCATE COMP "ADC_DIN" SITE "C5" ;
LOCATE COMP "ADC_DOUT" SITE "D6" ;
LOCATE COMP "DSP_G1" SITE "C12" ;
LOCATE COMP "DSP_G2" SITE "E11" ;
IOBUF PORT "ADC_CSn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADC_DIN" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADC_SCLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DSP_G1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DSP_G2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ADC_DOUT" IO_TYPE=LVCMOS33 ;
